---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href= />
    <script
      src="https://kit.fontawesome.com/df1e0c481c.js"
      crossorigin="anonymous"></script>
  </head>
  <body
    class="bg-bg text-text relative max-w-screen min-h-fit overflow-x-hidden"
  >
    <slot />
  </body>
</html>
