---
interface Props {
  title: string;
  description: string;
  img: string;
  techs: Array<string>;
}

const { title, description, img, techs } = Astro.props;
---

<section class="relative p-5">
  <figure class="flex justify-center">
    <img class="max-w-[450px] w-full" src={img} alt="" />
  </figure>
  <div class="z-100 flex flex-col items-center justify-center gap-3">
    <h2 class="text-2xl">{title}</h2>
    <p class="drop-shadow-primarySh text-xl">{description}</p>
    <div class="flex flex-wrap gap-4">
      {techs.map((tech) => <span class="border border-text rounded-[50px] px-4 py-1">{tech}</span>)}
    </div>
  </div>
  <hr class="mt-10 bg-secondary h-[2px] drop-shadow-secondarySh">
</section>

<script></script>
